<form #f="ngForm" (ngSubmit)="save(f)" >
  <div class="form-group row">
    <div class="col-10">
      <input 
        required 
        ngModel 
        #name="ngModel" 
        name="name" 
        id="name" 
        placeholder="Name for new patient"
        type="text" 
        class="form-control">
    </div>
    <div class="col-2">
      <button 
      [disabled]="f.invalid"
      class="btn btn-primary save">Create Patient</button>
    </div>
  </div>
</form>

<ul class="list-group">
  <li 
  *ngFor="let p of patients$ | async" 
  class="list-group-item">
  <div class="row">
    <div class="col-10">
      <div *ngIf="!fields[p.key] else editField;" (click)="toggleField(p)">{{ p.name }}</div>
      <ng-template #editField>
        <input 
          required 
          ngModel 
          #name="ngModel" 
          [(ngModel)]="p.name" 
          (keyup.enter)="update(p)"
          name="name" 
          id="pname" 
          type="text">
      </ng-template>
    </div>
    <div class="col-2">
      <button 
      (click)="delete(p)"
      class="btn btn-danger btn-right">Delete</button>
    </div>
  </div>
  </li>
</ul>